.nav-main{
    width: 70%;
    transition:all ease-in-out 0.5s;
    
}
.home-icon{
    /* margin-top: -10px; */
    margin: -5px 10px 0 0;
    transition: all ease-in-out 0.5s;
}
.home-icon:hover{
    color: rgba(61, 175, 190, 0.776);
}

@media only screen and (max-width:1100px) {
    .nav-main{
        width: 100%;
    }
}