.about-main{
    width: 70%;
   text-align: justify;
    transition:all ease-in-out 0.5s;
}
h2{
    margin: 10px 0px;
}
h3{
    margin: 10px 0px;
}

@media only screen and (max-width:1000px) {
    .about-main{
        width: 100%;
    }
}